html {
    width: 100%;
    padding: 0;
}

body {
    max-width: 1440px;
    padding: 0;
    width: 100%;
    background-color: #000;
    color: white;   
    margin: auto;

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    
    
    font-variation-settings:
      "wdth" 100;
}

header {
    background-color: orange;
    color: #000;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 40 0px;
}

h1 {
    text-transform: uppercase;
}